#navbar {
  background-color: #f95738;
}

.uk-navbar-item {
  font-family: "Delius Unicase", cursive;
  color: white;
  font-weight: bold;
  font-size: 36px;
}

#loginButton {
  margin-top: 30px;
  margin-left: 150px;
  font-family: "Delius Unicase", cursive;
  margin-left: 475px;
  color: white;
}

h3 {
  text-align: center;
  font-family: "Delius Unicase";
}

#getStartedButton {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 18px;
  margin-top: 75px;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  font-family: "Delius Unicase", cursive;
  background-color: #f95738;
}

#loginBox {
  justify-content: center;
  margin-left: 42%;
}

#updateInformation {
  display: none;
}

#currentInformation {
  display: block;
}
.registerinput {
  width: 50%;
}

#registrationForm {
  justify-content: center;
  margin-left: 35%;
}

#registerButton {
  margin-left: 17%;
}

#searchResults {
  /* margin-left: 10%; */
  font-family: "Montserrat", sans-serif;
}

#searchForm {
  width: 50%;
  margin-left: 375px;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
}

#resultsBelow,
.uk-card-title {
  font-family: "Montserrat", sans-serif;
}

#currentInformation,
#updateInformation {
  margin-left: 25%;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
}

#deleteButton {
  float: right;
}

#saveButton {
  margin-left: 45%;
}
