#navbar{
  background-color: orange;
}

.uk-navbar-item {
  font-family: "Delius Unicase", cursive;
  color: white;
}

#loginButton {
  margin-top: 30px;
  margin-left: 150px;
  font-family: "Delius Unicase", cursive;
  margin-left: 400px
    "
}

h3{
    text-align: center; 
    font-family: 'Delius Unicase';
}

#getStartedButton{
    position: absolute; 
    top: 50%;left: 50%;  
    margin-top: 150px; 
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%); 
    font-family: 'Delius Unicase', cursive; 
    background-color:orange
}

#updateInformation{
  display: none;
}

#currentInformation{
  display: block;
}