<nav class="uk-navbar-container uk-margin" uk-navbar>
    <div class="uk-navbar-center">

        {{!-- <div class="uk-navbar-center-left">
            <div>
                <ul class="uk-navbar-nav">
                    <li class="uk-active"><a href="#">Active</a></li>
                </ul>
            </div>
        </div> --}}
        {{!-- <img src="/public/img/IMG_3188.JPG"> --}}
        <a class="uk-navbar-item uk-logo" href="#">Maestro</a>
        <div class="uk-navbar-center-right">
            <div>
                <ul class="uk-navbar-nav">
                    <li><button class="uk-button uk-button-default" id="loginButton">Login</button></li>
                    <li><button class="uk-button uk-button-default" id="getStartedButton">Get Started</button></li>
                </ul>
            </div>
        </div>

    </div>
</nav>


{{!-- login button --}}