<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand" style="margin: auto;">
        <a class="navbar-item">
            Maestro
        </a>
        <a class="navbar-item" href="https://bulma.io">
            <img src="#" height="55" width="55" />
        </a>
        <div class="navbar-menu">
            <div class="navbar-end">
                <a class="navbar-item" id="loginLink" href="./login.html">
                    Login
                </a>
            </div>
        </div>

        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>
</nav>
<div class="container">
    <!-- CONTAINER -->
    <figure>
        <img src="https://lh5.googleusercontent.com/Nwy0O2eCt6gStMoOyE2hFvnSctpnL7tMN_Ys6QdoQ1VDf0oyuVxzfe5fXoWjkk0_DoGT7BvlffWWQXljNRC30Qfjp58AS-Pd-jpB3isi"
            width="1000px" height="1000px" />
    </figure>
    <p id="quote">
        "We love Maestro! Our kids have never been so engaged!" -Miss Juniper
    </p>
    <a href="#">Get Started</a>
</div>