<nav class="uk-navbar-container uk-margin" uk-navbar id="navbar">
    <div class="uk-navbar-center">
        {{!-- <img src="/public/img/IMG_3188.JPG"> --}}
        <a class="uk-navbar-item uk-logo" href="/"
            style="font-family: 'Delius Unicase', cursive; color:white">Maestro</a>

    </div>
</nav>

<form>
    <fieldset class="uk-fieldset">

        {{!-- <legend class="uk-legend">Legend</legend> --}}

        <div class="uk-margin">
            <input id="firstName-input" class="uk-input" type="text" placeholder="First Name">
        </div>
        <div class="uk-margin">
            <input id="lastName-input" class="uk-input" type="text" placeholder="Last Name">
        </div>
        <div class="uk-margin">
            <input id="email-input" class="uk-input" type="text" placeholder="E-mail">
        </div>
        <div class="uk-margin">
            <input id="password-input" class="uk-input" type="password" placeholder="Password">
        </div>

        <div class="uk-margin uk-grid-small uk-child-width-auto uk-grid" id="subject-input">
            <label><input class="uk-radio" type="radio" name="radio2" value=1>Language Arts</label><br>
            <label><input class="uk-radio" type="radio" name="radio2" value=2>Math</label><br>
            <label><input class="uk-radio" type="radio" name="radio2" value=3>Science</label><br>
            <label><input class="uk-radio" type="radio" name="radio2" value=4>Social Studies</label><br>
            <label><input class="uk-radio" type="radio" name="radio2" value=5>Other</label>
        </div>

        <div class="uk-margin">
            <select class="uk-select" id="specialty-input">
                <option value=1>Reading</option>
                <option value=2>Writing</option>
                <option value=3>Algebra</option>
                <option value=4>Geometry</option>
                <option value=5>Elementary Math</option>
                <option value=6>Biology</option>
                <option value=7>Chemistry</option>
                <option value=8>Astronomy</option>
                <option value=9>American History</option>
                <option value=10>Political Science</option>
                <option value=11>Elementary Social Studies</option>
                <option value=12>Physical Education</option>
                <option value=13>Art</option>
                <option value=14>Music</option>
                <option value=15>Performing Arts</option>
            </select>
        </div>
        <div class="uk-margin">
            <textarea class="uk-textarea" id="bio" rows="5" placeholder="Bio"></textarea>
        </div>
        <button class="uk-button uk-button-default" id="registerButton" type="submit">Register</button>
    </fieldset>
</form>