<nav class="uk-navbar-container uk-margin" uk-navbar id="navbar">
    <div class="uk-navbar-center">
        <a class="uk-navbar-item uk-logo" href="/"
            style="font-family: 'Delius Unicase', cursive; color:white">Maestro</a>
        <img src="https://i.imgur.com/b4OGdPV.png" height="100" width="75">
        {{!-- <div class="uk-navbar-center-right">
            <div>
                <ul class="uk-navbar-nav">
                    <li><button class="uk-button uk-button-default" id="loginButton"
                            style="margin-top: 30px; margin-left:150px; font-family: 'Delius Unicase', cursive; margin-left:400px">Login</button>
                    </li>
                </ul>
            </div>
        </div> --}}

    </div>
</nav>

<form id="searchForm">
    <fieldset class="uk-fieldset">
        <div class="uk-margin">
            <legend class="uk-legend">Browse by Subject</legend>
            <select class="uk-select" name="subject" id="subjectSelection">
                <option></option>
                <option value=1>Language Arts</option>
                <option value=2>Math</option>
                <option value=3>Science</option>
                <option value=4>Social Studies</option>
                <option value=5>Other</option>
            </select>
        </div>

        <div class="uk-margin">
            <legend class="uk-legend">Optional: Choose a Specialty</legend>
            <select class="uk-select" name="specialty" id="specialtySelection">
                <option></option>
                 <option value=1>Reading</option>
                <option value=2>Writing</option>
                <option value=3>Algebra</option>
                <option value=4>Geometry</option>
                <option value=5>Elementary Math</option>
                <option value=6>Biology</option>
                <option value=7>Chemistry</option>
                <option value=8>Astronomy</option>
                <option value=9>American History</option>
                <option value=10>Political Science</option>
                <option value=11>Elementary Social Studies</option>
                <option value=12>Physical Education</option>
                <option value=13>Art</option>
                <option value=14>Music</option>
                <option value=15>Performing Arts</option>
            </select>
        </div>

        <div class="uk-margin">
            <button class="uk-button uk-button-default" type="submit" id="searchButton">Search</button>
        </div>
    </fieldset>
</form>


<h3 id="resultsBelow">Results Will Show Below</h3>
{{#each educators}}
<div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid id="searchResults">
    <div class="uk-card-media-left uk-cover-container">
        <img src="https://cdn4.iconfinder.com/data/icons/basic-user-interface-2/512/User_Interface-10-512.png" alt=""
            height="100" width="100" uk-cover>
        <canvas width="300" height="200"></canvas>
    </div>
    <div>
        <div class="uk-card-body">
            <h3 class="uk-card-title">{{dataValues.first_name}} {{dataValues.last_name}}</h3>
            {{!-- <p>Specialty: {{dataValues.SpecialityId}}</p> --}}
            <p>Bio: {{dataValues.bio}}</p>
            <br>
            <p><a href="https://calendly.com/yourmaestroteacher">Schedule your Educator here!</a> </p>
        </div>
    </div>
</div>
{{/each}}