<form>
    <fieldset class="uk-fieldset">
        <div class="uk-margin">
            <legend class="uk-legend">Browse by Subject</legend>
            <select class="uk-select">
                <option value=1>Language Arts</option>
                <option value=2>Math</option>
                <option value=3>Science</option>
                <option value=4>Social Studies</option>
                <option value=5>Other</option>
            </select>
        </div>

        <div class="uk-margin">
            <legend class="uk-legend">Browse by Specialty</legend>
            <select class="uk-select">
                <option value=1>Reading</option>
                <option value=2>Writing</option>
                <option value=3>Algebra</option>
                <option value=4>Geometry</option>
                <option value=5>Elementary Math</option>
                <option value=6>Biology</option>
                <option value=7>Chemistry</option>
                <option value=8>Astronomy</option>
                <option value=9>American History</option>
                <option value=10>Political Science</option>
                <option value=11>Elementary Social Studies</option>
                <option value=12>Physical Education</option>
                <option value=13>Art</option>
                <option value=14>Music</option>
                <option value=15>Performing Arts</option>
            </select>
        </div>
    </fieldset>
</form>